@model YouGou8.Model.Users
@{
    ViewBag.Title = "编辑用户";
}
<div id="wrapper">
    @Html.Partial("../Shared/_Left")
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <!-- Form Elements -->
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            编辑用户
                        </div>
                        <div class="panel-body">
                            <form id="form-product" role="form" action="/user/add" method="post">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3">                                       
                                        <input type="hidden" name="ID" id="ID" value="@Model.ID" />
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.WeChat, new { placeholder = "微信号", @class = "form-control" })
                                        </div>   
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.PhoneNum, new { placeholder = "电话", @class = "form-control" })
                                        </div>                                  
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.Address, new { placeholder = "地址", @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.AvatarUrl, new { placeholder = "头像地址", @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.NickName, new { placeholder = "昵称", @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.Gender, new { placeholder = "性别1男2女", @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.Country, new { placeholder = "国家", @class = "form-control" })                                            
                                        </div>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.Province, new { placeholder = "省份", @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.City, new { placeholder = "城市", @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.Language, new { placeholder = "语言", @class = "form-control" })
                                        </div>
                                        @Html.HiddenFor(model=>model.AccessCount)
                                        @Html.HiddenFor(model => model.LastAccessTime)
                                        @Html.HiddenFor(model=>model.PWD)
                                        <div class="row text-center">
                                            <button type="submit" class="btn btn-default">Submit</button>
                                        </div> 
                                    </div>                                              
                                </div>                                
                            </form>
                        </div>
                    </div>
                    <!-- End Form Elements -->
                </div>
            </div>
            <!-- /. ROW  -->
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>

@section scripts{
    <script type="text/javascript">
        $(function  () {           

        });
    </script>
}