
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css">
    <link rel="stylesheet" href="~/assets-web/css/wechat.css">
    <title>@("双11预售爆款")</title>
</head>
<body>
    <div class="pet_mian">
        <div class="pet_head">
            <header data-am-widget="header"
                    class="am-header am-header-default pet_head_block">
                爆款商品抢先购
                <div class="am-header-right am-header-nav">
                    <a href="javascript:void(0);" class="iconfont pet_head_gd_ico">&#xe600;</a>
                </div>
            </header>
        </div>

        <div class="pet_more_list">
            <div class="pet_more_list_block">
                <div class="iconfont pet_more_close">×</div>
                <div class="am-input-group am-input-group-primary" style="padding:10px 20px;">
                    <input id="txt-title" value="@(ViewBag.Title)" type="text" class="am-form-field" placeholder="请输入搜索内容">
                    <span class="am-input-group-btn">
                        <button id="btn-search" class="am-btn am-btn-primary" type="button"><span class="am-icon-search"></span></button>
                    </span>                    
                </div>
                <div class="pet_more_list_block">
                    <div class="pet_more_list_block_name">
                        <div class="pet_more_list_block_name_title">热门品牌：</div>
                        <a class="pet_more_list_block_line" search-data="">
                            <div class="pet_more_list_block_line_font">全部</div>
                        </a>
                        <a class="pet_more_list_block_line" search-data="汤臣倍健">
                            <div class="pet_more_list_block_line_font">汤臣倍健/BY－HEALTH</div>
                        </a>
                        <a class="pet_more_list_block_line" search-data="苏泊尔">
                            <div class="pet_more_list_block_line_font">苏泊尔/SUPOR</div>
                        </a>
                        <a class="pet_more_list_block_line" search-data="美的">
                            <div class="pet_more_list_block_line_font">美的/Midea</div>
                        </a>
                        <a class="pet_more_list_block_line" search-data="珀莱雅">
                            <div class="pet_more_list_block_line_font">珀莱雅/PROYA</div>
                        </a>
                        <a class="pet_more_list_block_line" search-data="丸美">
                            <div class="pet_more_list_block_line_font">丸美/Marubi</div>
                        </a>
                        <a class="pet_more_list_block_line" search-data="曼秀雷敦">
                            <div class="pet_more_list_block_line_font">曼秀雷敦/Mentholatum</div>
                        </a>
                        <a class="pet_more_list_block_line" search-data="妮维雅">
                            <div class="pet_more_list_block_line_font">妮维雅/Nivea</div>
                        </a>
                        <a class="pet_more_list_block_line" search-data="美肤宝">
                            <div class="pet_more_list_block_line_font">美肤宝</div>
                        </a>
                        <a class="pet_more_list_block_line" search-data="维达">
                            <div class="pet_more_list_block_line_font">维达/Vinda</div>
                        </a>
                        <a class="pet_more_list_block_line" search-data="德芙">
                            <div class="pet_more_list_block_line_font">德芙/Dove</div>
                        </a>
                        <a class="pet_more_list_block_line" search-data="李宁">
                            <div class="pet_more_list_block_line_font">李宁/Lining</div>
                        </a>
                        <hr style="clear:both;margin:0;" />
                        <div class="pet_more_list_block_name_title">服装鞋包：</div>
                        <a class="pet_more_list_block_line" search-data="韩都衣舍">
                            <div class="pet_more_list_block_line_font">韩都衣舍/HSTYLE</div>
                        </a>
                        <a class="pet_more_list_block_line" search-data="自然相伴">
                            <div class="pet_more_list_block_line_font">自然相伴</div>
                        </a>
                        <a class="pet_more_list_block_line" search-data="南极人">
                            <div class="pet_more_list_block_line_font">南极人</div>
                        </a>
                        <a class="pet_more_list_block_line" search-data="花花公子">
                            <div class="pet_more_list_block_line_font">花花公子/PLAYBOY</div>
                        </a>
                        <a class="pet_more_list_block_line" search-data="浪莎">
                            <div class="pet_more_list_block_line_font">浪莎</div>
                        </a>
                        <a class="pet_more_list_block_line" search-data="波司登">
                            <div class="pet_more_list_block_line_font">波司登/Bosideng</div>
                        </a>
                        <a class="pet_more_list_block_line" search-data="特步">
                            <div class="pet_more_list_block_line_font">特步/XTEP</div>
                        </a>
                        <a class="pet_more_list_block_line" search-data="匹克">
                            <div class="pet_more_list_block_line_font">匹克/Peak</div>
                        </a>
                        <a class="pet_more_list_block_line" search-data="七匹狼">
                            <div class="pet_more_list_block_line_font">七匹狼/Septwolves</div>
                        </a>
                        <hr style="clear:both;margin:0;" />
                        <div class="pet_more_list_block_name_title">居家母婴：</div>
                        <a class="pet_more_list_block_line" search-data="好孩子">
                            <div class="pet_more_list_block_line_font">好孩子/Goodbaby</div>
                        </a>
                        <a class="pet_more_list_block_line" search-data="北极绒">
                            <div class="pet_more_list_block_line_font">北极绒/Bejirog</div>
                        </a>
                        <a class="pet_more_list_block_line" search-data="袋鼠妈妈">
                            <div class="pet_more_list_block_line_font">袋鼠妈妈/Kangaroo Mommy</div>
                        </a>
                        <a class="pet_more_list_block_line" search-data="茵曼">
                            <div class="pet_more_list_block_line_font">茵曼/INMAN</div>
                        </a>
                        <a class="pet_more_list_block_line" search-data="隆力奇">
                            <div class="pet_more_list_block_line_font">隆力奇</div>
                        </a>
                        <a class="pet_more_list_block_line" search-data="宝优妮">
                            <div class="pet_more_list_block_line_font">宝优妮</div>
                        </a>
                        <a class="pet_more_list_block_line" search-data="舒客">
                            <div class="pet_more_list_block_line_font">舒客/Saky</div>
                        </a>
                        <a class="pet_more_list_block_line" search-data="ABC">
                            <div class="pet_more_list_block_line_font">ABC</div>
                        </a>
                        <a class="pet_more_list_block_line" search-data="南孚">
                            <div class="pet_more_list_block_line_font">南孚</div>
                        </a>
                        <a class="pet_more_list_block_line" search-data="双枪">
                            <div class="pet_more_list_block_line_font">双枪/Suncha</div>
                        </a>
                        <hr style="clear:both;margin:0;" />
                        <div class="pet_more_list_block_name_title">美容美妆：</div>
                        <a class="pet_more_list_block_line" search-data="曼秀雷敦">
                            <div class="pet_more_list_block_line_font">曼秀雷敦/Mentholatum</div>
                        </a>
                        <a class="pet_more_list_block_line" search-data="珀莱雅">
                            <div class="pet_more_list_block_line_font">珀莱雅/PROYA</div>
                        </a>
                        <a class="pet_more_list_block_line" search-data="一叶子">
                            <div class="pet_more_list_block_line_font">一叶子/One Leaf</div>
                        </a>
                        <a class="pet_more_list_block_line" search-data="妮维雅">
                            <div class="pet_more_list_block_line_font">妮维雅/Nivea</div>
                        </a>
                        <a class="pet_more_list_block_line" search-data="法兰琳卡">
                            <div class="pet_more_list_block_line_font">法兰琳卡/Franic</div>
                        </a>
                        <a class="pet_more_list_block_line" search-data="相宜本草">
                            <div class="pet_more_list_block_line_font">相宜本草</div>
                        </a>
                        <a class="pet_more_list_block_line" search-data="韩束">
                            <div class="pet_more_list_block_line_font">韩束/Kans</div>
                        </a>
                        <a class="pet_more_list_block_line" search-data="美宝莲">
                            <div class="pet_more_list_block_line_font">美宝莲/Maybelline</div>
                        </a>
                    </div>
                </div>

            </div>
        </div>

        <input type="hidden" value="@(ViewBag.ID)" id="hid-id" />
        <input type="hidden" value="@(ViewBag.Start)" id="hid-start" />
        <input type="hidden" value="@(ViewBag.End)" id="hid-end" />

        <div class="pet_content pet_content_list">
            <div class="pet_article_like">
                <div class="pet_content_main pet_article_like_delete">
                    <div data-am-widget="list_news" class="am-list-news am-list-news-default am-no-layout">
                        <div class="am-list-news-bd" style="min-height:200px;">
                            <div id="div-nodata-try" class="no-data">暂时没有数据，换姿势试试~</div>
                            <ul class="am-list">
                                <!--缩略图在标题右边-->
                                @*<li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-right pet_list_one_block">
                                    <div class="am-u-sm-4 am-list-thumb">
                                        <figure data-am-widget="figure" class="am am-figure am-figure-default " data-am-figure="{  pureview: 'true' }" style="margin:0;">
                                            <img src="http://img.alicdn.com/imgextra/i4/2073364739/TB2VDzWsxBmpuFjSZFDXXXD8pXa_!!2073364739.jpg_310x310.jpg"
                                                 data-rel="http://img.alicdn.com/imgextra/i4/2073364739/TB2VDzWsxBmpuFjSZFDXXXD8pXa_!!2073364739.jpg_310x310.jpg"
                                                 alt="tttTTT" style="margin:0;" />
                                            <figcaption class="am-figure-capition-btm"></figcaption>
                                        </figure>
                                    </div>
                                    <div class="am-u-sm-8 am-list-main pet_list_one_nr">
                                        <h3 class="am-list-item-hd pet_list_one_bt"><a href="###">十一长假哪也不去，宅在家里看电影！宅在家里看电影！里看电影！</a></h3>
                                        <div class="am-list-item-text pet_list_one_text">推荐理由：每逢长假，总有那么一群人选择远离人山人海，静静地呆在家，坐在电脑电视前。长时间的工作学习让他们感觉很疲惫，对什么都提不起劲，打开电脑却不知道干什么好…</div>
                                        <div class="info">
                                            <div class="info-item">
                                                <span class="am-icon-coupon">¥20</span>
                                            </div>
                                            <div class="info-item" style="font-weight:bold; color:red;">券后:1150.0&nbsp;&nbsp;</div>
                                            <div class="info-item">销量:599999</div>
                                        </div>
                                        <div class="copy">
                                            <a class="am-btn am-btn-default am-radius am-btn-xs btn-copy" style="font-weight:bold; width:100%;" href="javascrip:void(0)">复制</a>
                                            <span>复制后打开☞手机淘宝☜查看并下单</span>
                                        </div>
                                        <div class="taobao">
                                            <a target="_blank" class="am-btn am-btn-default am-radius am-btn-xs" style="width:100%; margin:10px 0px">去淘宝看看&gt;&gt;</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-right pet_list_one_block">
                                    <div class="am-u-sm-4 am-list-thumb">
                                        <figure data-am-widget="figure" class="am am-figure am-figure-default " data-am-figure="{  pureview: 'true' }" style="margin:0;">
                                            <img src="http://img.alicdn.com/imgextra/i4/2073364739/TB2VDzWsxBmpuFjSZFDXXXD8pXa_!!2073364739.jpg_310x310.jpg"
                                                 data-rel="http://img.alicdn.com/imgextra/i4/2073364739/TB2VDzWsxBmpuFjSZFDXXXD8pXa_!!2073364739.jpg_310x310.jpg"
                                                 alt="tttTTT" style="margin:0;" />
                                            <figcaption class="am-figure-capition-btm"></figcaption>
                                        </figure>
                                    </div>
                                    <div class="am-u-sm-8 am-list-main pet_list_one_nr">
                                        <h3 class="am-list-item-hd pet_list_one_bt"><a href="###">十一长假哪也不去，宅在家里看电影！宅在家里看电影！里看电影！</a></h3>
                                        <div class="am-list-item-text pet_list_one_text">推荐理由：每逢长假，总有那么一群人选择远离人山人海，静静地呆在家，坐在电脑电视前。长时间的工作学习让他们感觉很疲惫，对什么都提不起劲，打开电脑却不知道干什么好…</div>
                                        <div class="info">
                                            <div class="info-item">
                                                <span class="am-icon-coupon">¥20</span>
                                            </div>
                                            <div class="info-item" style="font-weight:bold; color:red;">券后:1150.0&nbsp;&nbsp;</div>
                                            <div class="info-item">销量:599999</div>
                                        </div>
                                        <div class="copy">
                                            <a class="am-btn am-btn-default am-radius am-btn-xs btn-copy" style="font-weight:bold; width:100%;" href="javascrip:void(0)">复制</a>
                                            <span>复制后打开☞手机淘宝☜查看并下单</span>
                                        </div>
                                        <div class="taobao">
                                            <a target="_blank" class="am-btn am-btn-default am-radius am-btn-xs" style="width:100%; margin:10px 0px">去淘宝看看&gt;&gt;</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-right pet_list_one_block">
                                    <div class="am-u-sm-4 am-list-thumb">
                                        <figure data-am-widget="figure" class="am am-figure am-figure-default " data-am-figure="{  pureview: 'true' }" style="margin:0;">
                                            <img src="http://img.alicdn.com/imgextra/i4/2073364739/TB2VDzWsxBmpuFjSZFDXXXD8pXa_!!2073364739.jpg_310x310.jpg"
                                                 data-rel="http://img.alicdn.com/imgextra/i4/2073364739/TB2VDzWsxBmpuFjSZFDXXXD8pXa_!!2073364739.jpg_310x310.jpg"
                                                 alt="tttTTT" style="margin:0;" />
                                            <figcaption class="am-figure-capition-btm"></figcaption>
                                        </figure>
                                    </div>
                                    <div class="am-u-sm-8 am-list-main pet_list_one_nr">
                                        <h3 class="am-list-item-hd pet_list_one_bt"><a href="###">十一长假哪也不去，宅在家里看电影！宅在家里看电影！里看电影！</a></h3>
                                        <div class="am-list-item-text pet_list_one_text">推荐理由：每逢长假，总有那么一群人选择远离人山人海，静静地呆在家，坐在电脑电视前。长时间的工作学习让他们感觉很疲惫，对什么都提不起劲，打开电脑却不知道干什么好…</div>
                                        <div class="info">
                                            <div class="info-item">
                                                <span class="am-icon-coupon">¥20</span>
                                            </div>
                                            <div class="info-item" style="font-weight:bold; color:red;">券后:1150.0&nbsp;&nbsp;</div>
                                            <div class="info-item">销量:599999</div>
                                        </div>
                                        <div class="copy">
                                            <a class="am-btn am-btn-default am-radius am-btn-xs btn-copy" style="font-weight:bold; width:100%;" href="javascrip:void(0)">复制</a>
                                            <span>复制后打开☞手机淘宝☜查看并下单</span>
                                        </div>
                                        <div class="taobao">
                                            <a target="_blank" class="am-btn am-btn-default am-radius am-btn-xs" style="width:100%; margin:10px 0px">去淘宝看看&gt;&gt;</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-right pet_list_one_block">
                                    <div class="am-u-sm-4 am-list-thumb">
                                        <figure data-am-widget="figure" class="am am-figure am-figure-default " data-am-figure="{  pureview: 'true' }" style="margin:0;">
                                            <img src="http://img.alicdn.com/imgextra/i4/2073364739/TB2VDzWsxBmpuFjSZFDXXXD8pXa_!!2073364739.jpg_310x310.jpg"
                                                 data-rel="http://img.alicdn.com/imgextra/i4/2073364739/TB2VDzWsxBmpuFjSZFDXXXD8pXa_!!2073364739.jpg_310x310.jpg"
                                                 alt="tttTTT" style="margin:0;" />
                                            <figcaption class="am-figure-capition-btm"></figcaption>
                                        </figure>
                                    </div>
                                    <div class="am-u-sm-8 am-list-main pet_list_one_nr">
                                        <h3 class="am-list-item-hd pet_list_one_bt"><a href="###">十一长假哪也不去，宅在家里看电影！宅在家里看电影！里看电影！</a></h3>
                                        <div class="am-list-item-text pet_list_one_text">推荐理由：每逢长假，总有那么一群人选择远离人山人海，静静地呆在家，坐在电脑电视前。长时间的工作学习让他们感觉很疲惫，对什么都提不起劲，打开电脑却不知道干什么好…</div>
                                        <div class="info">
                                            <div class="info-item">
                                                <span class="am-icon-coupon">¥20</span>
                                            </div>
                                            <div class="info-item" style="font-weight:bold; color:red;">券后:1150.0&nbsp;&nbsp;</div>
                                            <div class="info-item">销量:599999</div>
                                        </div>
                                        <div class="copy">
                                            <a class="am-btn am-btn-default am-radius am-btn-xs btn-copy" style="font-weight:bold; width:100%;" href="javascrip:void(0)">复制</a>
                                            <span>复制后打开☞手机淘宝☜查看并下单</span>
                                        </div>
                                        <div class="taobao">
                                            <a target="_blank" class="am-btn am-btn-default am-radius am-btn-xs" style="width:100%; margin:10px 0px">去淘宝看看&gt;&gt;</a>
                                        </div>
                                    </div>
                                </li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pet_article_dowload pet_dowload_more_top_off">
            <div class="pet_article_dowload_title">关于 优购8</div>
            <div class="pet_article_dowload_content pet_dowload_more_top_bg">
                <div class="pet_article_dowload_triangle pet_dowload_more_top_san"></div>
                <div class="pet_article_dowload_ico"><img src="~/assets-web/img/footlogo.png" alt=""></div>
                <div class="pet_article_dowload_content_font">
                    利用大数据分析，结合人工精选，为用户挑选性价比最高的商品，如果没适合您的商品，可在公众号留言，我们将第一时间搜集并推荐给你，欢迎向我们提出更好的建议！
                </div>
            </div>
            <div class="pet_article_dowload_all">
                <div class="am-u-sm-6">
                    <figure data-am-widget="figure" class="am am-figure am-figure-default " data-am-figure="{  pureview: 'true' }" style="margin:0;">
                        <img src="/assets-web/img/wx-xiaochengxu.jpg" data-rel="/assets-web/img/wx-xiaochengxu.jpg" alt="关注小程序" style="width:100%;" />
                        <figcaption class="am-figure-capition-btm">关注微信小程序</figcaption>
                    </figure> 
                </div>
                <div class="am-u-sm-6">                    
                    <figure data-am-widget="figure" class="am am-figure am-figure-default " data-am-figure="{  pureview: 'true' }" style="margin:0;">
                        <img src="/assets-web/img/wx-gongzhonghao.jpg" data-rel="/assets-web/img/wx-gongzhonghao.jpg" alt="关注公众号" style="width:100%;" />
                        <figcaption class="am-figure-capition-btm">关注微信公众号</figcaption>
                    </figure> 
                </div>
            </div>
            <div class="pet_article_footer_info">Copyright(c)2017 Yougou8 All Rights Reserved</div>
        </div>
    </div>

    <!--BEGIN toast-->
    <div id="toast" style="display:none;">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="am-icon-check weui-icon-success-no-circle weui-icon_toast"></i>
            <p class="weui-toast__content">复制成功</p>
        </div>
    </div>
    <!--end toast-->
    <!-- loading toast -->
    <div id="loadingToast">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            @*<i class="weui-loading weui-icon_toast"></i>*@
            <i class="am-icon-spinner am-icon-pulse weui-icon_toast"></i>
            <p class="weui-toast__content">数据加载中</p>
        </div>
    </div>
    <!--end loading-->

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script>
    <script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.widgets.helper.min.js"></script>
    <script src="/assets-web/js/jquery.lazyload.min.js"></script>
    <script src="~/assets-web/js/clipboard.min.js"></script>
    <script type="text/javascript">
        $(function () {

            var is_weixin = function () {
                var ua = navigator.userAgent.toLowerCase();
                if (ua.match(/MicroMessenger/i) == "micromessenger") {
                    return true;
                } else {
                    return false;
                }
            }

            var auto_resize = function () {
                if ($(window).width() > 450) {
                    $('.pet_list_one_nr').height($('.pet_list_one_img').height());
                } else {
                    $('.pet_list_one_nr').css({ "height": "auto" });
                }
            }

            var tips = function (title) {
                var $toast = $('#toast');
                if ($toast.css('display') != 'none') return;
                $('.weui-toast__content').text(title);
                $toast.fadeIn(100);
                setTimeout(function () {
                    $toast.fadeOut(100);
                }, 2000);
            }

            //var copy_init = function () {
            //    var clipboard = new Clipboard('.btn-copy');
            //    clipboard.on('success', function (e) {
            //        alert('复制成功');
            //    });
            //    clipboard.on('error', function (e) {
            //        alert('您的浏览不支持复制');
            //    });
            //}

            //$('.btn-copy').click(function(e){
            //    //var btnId = $(this).attr("id");
            //    var id = $(this).attr("data-id");
            //    var text = $(this).attr("data-clipboard-text");
            //    alert(text);
            //    if (text == '') {
            //        $.get('/wechat/p' + id, { isjson: true }, function (data) {
            //            if (data.key != '') {
            //                $("#" + btnId).attr("data-clipboard-text", data.key);
            //                copy_init();
            //            } else {
            //                tips('网络连接超时，请稍后再试');
            //            }                    
            //        }, "json");
            //    } else {
            //        copy_init();
            //    }
            //});

            var page = 1;
            var size = 50;
            var loading = false;
            var loadMore = true;

            var getCopyTemp = function (text, id) {
                if (text == null || typeof (text) == 'undefined') {
                    text = '';
                }
                var copyTemp = '<div class="copy">' +
                            '     <a class="am-btn am-btn-default am-radius am-btn-xs btn-copy" href="/wechat/p'+id+'">复制淘口令</a>' +
                            //'     <span>复制后打开☞手机淘宝☜查看并下单</span>' +
                            '  </div>';
                return copyTemp;
            }

            var getTaobaoTemp = function (link) {
                var taobaoTemp = '<div class="taobao">' +
                                '   <a target="_blank" class="am-btn am-btn-default am-radius am-btn-xs" href="'+link+'">去淘宝看看&gt;&gt;</a>' +
                                ' </div>';
                return taobaoTemp;
            }

            var getlist = function () {
                if (!loading) {
                    loading = true;
                    var title = $('#txt-title').val();
                    var start = $('#hid-start').val();
                    var end = $('#hid-end').val();
                    var id = $('#hid-id').val();
                    var flag = is_weixin();

                    $.post('/wechat/getlist', { id: id, title: title, start: start, end: end, page: page, size: size }, function (response) {
                        loading = false;
                        if (response && response.code == 0) {
                            if (response.data.length > 0) {
                                $("#div-nodata-try").hide();
                                $.each(response.data, function (index, item) {
                                    var salesTemp = item.sales > 0 ? '<div class="info-item">销量:' + item.sales + '</div>' : '<div class="info-item"></div>';
                                    var introTemp = item.intro != null && item.intro.length > 0 ? '<div class="am-list-item-text pet_list_one_text">推荐理由：' + item.intro + '</div>' : "";
                                    var template = '<li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-right pet_list_one_block">' +
                                                '       <div class="am-u-sm-4 am-list-thumb">' +
                                                '           <a target="_blank" href="' + (flag ? '/wechat/p' + item.id : item.link) + '"><img src="/assets-web/img/loading.gif" data-original="' + item.img + '" alt="' + item.title + '" style="margin:0;" /></a>' +
                                                '       </div>' +
                                                '       <div class="am-u-sm-8 am-list-main pet_list_one_nr">' +
                                                '           <h3 class="am-list-item-hd pet_list_one_bt"><a target="_blank" href="' + (flag ? '/wechat/p' + item.id : item.link) + '">' + item.title + '</a></h3>' + introTemp +
                                                '           <div class="info">' +
                                                '               <div class="info-item">' +
                                                '                   <span class="am-icon-coupon">¥' + item.coupon + '</span>' +
                                                '               </div>' +
                                                '               <div class="info-item" style="font-weight:bold; color:red;">券后:' + parseFloat(item.price - item.coupon).toFixed(1) + '&nbsp;&nbsp;</div>' + salesTemp +
                                                '           </div>' + (flag ? getCopyTemp(item.key, item.id) : getTaobaoTemp(item.link)) +
                                                '       </div>' +
                                                '</li>';
                                    $(".am-list").append(template);
                                });

                                //懒加载
                                $(".am-list-thumb img").lazyload({ threshold: 500 });

                                //if (response.data.length == size) {
                                //    setTimeout(function () { page++; getlist();},3000);
                                //}
                            } else {
                                loadMore = false;
                                if ($(".am-list").text() == "") {
                                    $("#div-nodata-try").show();
                                }
                            }
                            //copy_init();
                            auto_resize();
                            $("#loadingToast").hide();
                        } else {
                            tips('网络连接失败');
                            $("#loadingToast").hide();
                        }
                    }, "json");
                }
            }

            getlist();

            $(window).resize(function () {
                auto_resize();
            });

            $(window).scroll(function () {

                var sc = $(document).height() - $(window).height() - 700;
                if ($(window).scrollTop() > sc && !loading && loadMore) {
                    page++;
                    getlist();
                }
            });

            $('.am-list-thumb img').load(function () {
                auto_resize();
            });

            $('.pet_article_like li:last-child').css('border', 'none');            

            $('.pet_head_gd_ico').on('click', function () {
                if ($('.pet_more_list').hasClass("pet_more_list_show")) {
                    $('.pet_more_list').removeClass('pet_more_list_show');
                } else {
                    $("#txt-title").val("");
                    $('.pet_more_list').addClass('pet_more_list_show');
                }
            });

            $('.pet_more_close').on('click', function () {
                $('.pet_more_list').removeClass('pet_more_list_show');
            });

            $(".pet_more_list_block_name a").click(function () {
                var title = $(this).attr("search-data");
                $("#txt-title").val(title);
                page = 1;
                $('.pet_more_list').removeClass('pet_more_list_show');
                $("#loadingToast").show();
                $(".am-list").empty();
                $("body").scrollTop(0);
                getlist();
            });

            $("#btn-search").click(function () {
                //page = 1;
                //$('.pet_more_list').removeClass('pet_more_list_show');
                //$("#loadingToast").show();
                //$(".am-list").empty();
                //$("body").scrollTop(0);
                //getlist();
                window.location = "?title=" + $("#txt-title").val();
            });
        });
    </script>
</body>
</html>
