@model YouGou8.Model.FreeProduct
@{
    ViewBag.Title = "编辑赠品";
}
<div id="wrapper">
    @Html.Partial("../Shared/_Left")
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <!-- Form Elements -->
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            编辑赠品
                        </div>
                        <div class="panel-body">
                            <form id="form-product" role="form" action="/free/add" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="hidden" name="ID" id="ID" value="@Model.ID" />
                                            @Html.TextBoxFor(model => model.Link, new { @style = "width:70%; display:inline-block;", placeholder = "商品连接", @class = "form-control" })
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a id="btn-getinfo" class="btn btn-success">获取信息</a>
                                        </div>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.Name, new { placeholder = "商品名称", @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.Count, new { placeholder = "数量", @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.RQty, new { placeholder = "剩余数量", @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.Command, new { placeholder = "淘口令", @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.HiddenFor(m => m.ImgUrls)
                                        <div id="div-img-input" class="form-group" style="display:none;">
                                            <label>商品图片</label>
                                            <input id="imgurl1" class="form-control" placeholder="图片地址1" />
                                            <input id="imgurl2" class="form-control" placeholder="图片地址2" />
                                            <input id="imgurl3" class="form-control" placeholder="图片地址3" />
                                            <input id="imgurl4" class="form-control" placeholder="图片地址4" />
                                            <input id="imgurl5" class="form-control" placeholder="图片地址5" />
                                        </div>
                                        <div id="div-img-show" class="form-group" style="display:none;">
                                            <label>商品图片(拖动排序)</label>
                                            <ol id="img-list" class='imgurls'></ol>
                                            <br style="clear:both;" />
                                            <br />
                                        </div>
                                        <div class="form-group">
                                            <label>描述</label>
                                            @Html.TextAreaFor(m => m.Desc, new { @row = "3", @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label>备注</label>
                                            @Html.TextAreaFor(m => m.Remark, new { @row = "3", @class = "form-control" })
                                        </div>
                                        @Html.HiddenFor(m => m.AddedTime)
                                        @Html.HiddenFor(m=>m.Status)
                                    </div>
                                </div>

                                <div class="row text-center">
                                    <button type="submit" class="btn btn-default">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- End Form Elements -->
                </div>
            </div>
            <!-- /. ROW  -->
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>

@section scripts{
    <script src="/assets/js/jquery-sortable.js"></script>
    <script type="text/javascript">
        $(function  () {
            $("ol.imgurls").sortable();

            $("#btn-getinfo").click(function (e) {
                var url=$("#Link").val();
                if (url != "") {
                    $.get('/product/getproductinfo', { url: url }, function (response) {
                        if (response.code == 0) {
                            $('#Name').val(response.data.ProductName);
                            $("#ImgUrls").val(response.data.ThumImg);
                            if(response.data.ThumImg!=""){
                                $("#div-img-input").hide();
                                $("#div-img-show").show();
                                var html = "";
                                var imgArr = response.data.ThumImg.split('|')
                                console.log(imgArr);
                                for (var i = 0; i < imgArr.length; i++) {
                                    if (imgArr[i] != "") {
                                        html += '<li id="li-img-'+i+'">' +
                                                    '<img style="width:128px;" src="' + imgArr[i] + '" />' +
                                                    '<a href="javascript:deleteImg('+i+');" class="btn btn-warning btn-xs">删除</a>' +
                                                '</li>';
                                    }
                                }
                                $('#img-list').html(html);
                            }
                        } else {
                            alert(response.msg);
                        }
                    }, "json");
                }
            });

            var imgUrls = $("#ImgUrls").val();
            if (imgUrls == "") {
                $("#div-img-input").show();
                $("#div-img-show").hide();
            } else {
                $("#div-img-input").hide();
                $("#div-img-show").show();
                var html = "";
                var imgArr = imgUrls.split('|')
                for (var i = 0; i < imgArr.length; i++) {
                    if (imgArr[i] != "") {
                        html += '<li id="li-img-'+i+'">' +
                                    '<img style="width:128px;" src="' + imgArr[i] + '" />' +
                                    '<a href="javascript:deleteImg('+i+');" class="btn btn-warning btn-xs">删除</a>' +
                                '</li>';
                    }
                }
                $('#img-list').html(html);
            }

            $('#form-product').submit(function (e) {
                var urls = "";
                if ($("#div-img-input").is(":hidden")) {
                    $("#div-img-show img").each(function () {
                        urls += $(this).attr("src")+"|";
                    });
                } else {
                    if ($("#imgurl1").val() != "") {
                        urls += $("#imgurl1").val() + "|";
                    }
                    if ($("#imgurl2").val() != "") {
                        urls += $("#imgurl2").val() + "|";
                    }
                    if ($("#imgurl3").val() != "") {
                        urls += $("#imgurl3").val() + "|";
                    }
                    if ($("#imgurl4").val() != "") {
                        urls += $("#imgurl4").val() + "|";
                    }
                    if ($("#imgurl5").val() != "") {
                        urls += $("#imgurl5").val() + "|";
                    }
                }
                if (urls != "") {
                    urls = urls.substring(0, urls.length - 1);
                }
                $("#ImgUrls").val(urls);
            });
        });


        function deleteImg(i) {
            $("#li-img-"+i).remove();
        }
    </script>
}