@model IEnumerable<YouGou8.Model.FreeProduct>
@{
    ViewBag.Title = "赠品管理";
}

<div id="wrapper">
    @Html.Partial("../Shared/_Left")
    <div id="page-wrapper">
        <div id="page-inner">
            <form id="searchForm" action="/free/index" method="get">
                <div class="row">
                    <div class="col-md-12">
                        <!--    Hover Rows  -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                赠品列表
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="/free/add" class="btn btn-primary btn-sm">添加赠品</a>
                                <a id="deleteSelect" class="btn btn-danger btn-sm">删除选中</a>
                                <a id="deleteDisable" class="btn btn-danger btn-sm">删除失效</a>
                                <a id="deleteAll" class="btn btn-danger btn-sm">全部删除</a>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <label class="checkbox-inline">
                                                        <input id="selectCheck" value="0" style="position:static" type="checkbox">
                                                    </label>
                                                </th>
                                                <th>ID/名称</th>
                                                <th>首图</th>
                                                <th>数量/剩余</th>
                                                <th>描述</th>
                                                <th>淘口令/状态</th>
                                                <th>备注</th>
                                                <th>创建时间</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        <label class="checkbox-inline">
                                                            <input value="@item.ID" style="position:static" type="checkbox">
                                                        </label>
                                                    </td>
                                                    <td>
                                                        @item.ID<br />
                                                        <a href="@item.Link" target="_blank">@item.Name</a>
                                                    </td>
                                                    <td>
                                                        <a href="@item.ImgUrls.Split('|')[0]" target="_blank">
                                                            <img style="width:50px" src="@item.ImgUrls.Split('|')[0]" />
                                                        </a>
                                                    </td>
                                                    <td>
                                                        @item.Count/@item.RQty
                                                    </td>
                                                    <td>@Html.Raw(string.IsNullOrWhiteSpace(item.Desc)?"":item.Desc.Replace("\n","<br>"))</td>
                                                    <td>@item.Command/@(item.Status? "启用" : "禁用")</td>
                                                    <td>@Html.Raw(string.IsNullOrWhiteSpace(item.Remark) ? "" : item.Remark.Replace("\n", "<br>"))</td>
                                                    <td>@item.AddedTime</td>
                                                    <td>
                                                        <a href="/free/add?id=@item.ID" class="btn btn-primary btn-xs">修改</a>
                                                        <a href="javascript:deleteProduct(@item.ID)" class="btn btn-danger btn-xs">删除</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    @if (ViewBag.PageCount >= 2)
                                    {
                                        <nav aria-label="Page navigation">
                                            <ul class="pagination">
                                                <li class="@(ViewBag.PageIndex==1?"disabled":"")">
                                                    <a href="javascript:page('pre',0)" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                @for (int i = 1; i <= ViewBag.PageCount; i++)
                                                {
                                                    <li class="@(ViewBag.PageIndex==i?"disabled":"")"><a href="javascript:page('page',@i)">@i</a></li>
                                                }
                                                <li class="@(ViewBag.PageIndex==ViewBag.PageCount?"disabled":"")">
                                                    <a href="javascript:page('next',0)" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    }
                                    <input type="hidden" name="pageIndex" id="pageIndex" value="@ViewBag.PageIndex" />
                                </div>
                            </div>
                        </div>
                        <!-- End  Hover Rows  -->
                    </div>
                </div>
            </form>
            <!-- /. ROW  -->
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>

@section scripts{
    <script type="text/javascript">

        $("#selectCheck").bind("change", function (e) {
            if ($("#selectCheck").get(0).checked)
                $("input[type='checkbox']").prop("checked", true);
            else
                $("input[type='checkbox']").prop("checked",false);
        });

        $("#deleteSelect").click(function (e) {
            var c = confirm("确定要删除吗?");
            if (c) {
                var ids = "";
                $("input[type='checkbox']:checked").each(function () {
                    var id = $(this).val();
                    if (parseInt(id) > 0) {
                        ids = ids + id + ',';
                    }
                });
                if (ids.length > 0) {
                    ids = ids.substr(0, ids.length - 1);
                }
                if (ids.length > 0) {
                    $.get('/free/delete', { ids: ids }, function (response) {
                        if (response.code == 0) {
                            alert('删除成功');
                            $('#searchForm').submit();
                        } else {
                            alert('删除失败');
                        }
                    }, "json");
                }
            }
        });

        $("#deleteDisable").click(function (e) {
            var c = confirm("确定要删除吗?");
            if (c) {
                $.get('/free/DeleteDisable', "", function (response) {
                    if (response.code == 0) {
                        alert('删除成功');
                        $('#searchForm').submit();
                    } else {
                        alert('删除失败');
                    }
                }, "json");
            }
        });

        $("#deleteAll").click(function (e) {
            var c = confirm("确定要删除吗?");
            if (c) {
                $.get('/free/DeleteAll', "", function (response) {
                    if (response.code == 0) {
                        alert('删除成功');
                        $('#searchForm').submit();
                    } else {
                        alert('删除失败');
                    }
                }, "json");
            }
        });

        function deleteProduct(id){
            var c = confirm("确定要删除吗?");
            if (c) {
                if (id > 0) {
                    $.get('/free/delete', { ids: id }, function (response) {
                        if (response.code == 0) {
                            alert('删除成功');
                            $('#searchForm').submit();
                        } else {
                            alert('删除失败');
                        }
                    }, "json");
                }
            }
        }

        function page(type, index) {
            var pageIndex = parseInt($("#pageIndex").val());
            if (type == 'pre') {
                $("#pageIndex").val(pageIndex - 1);
            }
            if (type == 'next') {
                $("#pageIndex").val(pageIndex + 1);
            }
            if (type == 'page') {
                $("#pageIndex").val(index);
            }
            $('#searchForm').submit();
        }
    </script>
}



